:root {
  /*paleta básica*/
  --color-rojo: #e8332f;
  --color-celeste: #44c2dd;
  --color-amarillo: #d9c93b;
  --color-verde-agua: #1d8e7a;
  --color-verde: #7ab24e;

  --color-azul-suave: #56a4af;
  --color-azul-oscuro: #403786;
  --color-gris-claro: #dadada;
  --color-verde-oscuro: #4c5f41;
  --color-negro: #111110;

  /*verdes*/
  --color--verde-claro: #9fdc7a;
  --color--verde-medio: #6fae5c;
  --color--verde-bosque: #2f5d34;
  --color--verde-musgo: #597a4a;
  --color--verde-menta: #90d8c2;
  --color--verde-lima: #c7e86a;

  /*azules*/
  --color--azul-cielo: #7dd5ef;
  --color--azul-profundo: #2b2f5b;
  --color--azul-turquesa: #2fb8b0;
  --color--azul-gris: #8aa9b1;

  /*amarillos*/
  --color--amarillo-suave: #f3e57c;
  --color--amarillo-ocre: #d3a724;
  --color--naranja-suave: #e8a16a;

  /*cafés*/
  --color--cafe-madera: #6a4a2b;
  --color--cafe-claro: #d7b89c;
  --color--cafe-arena: #c9a27d;
  --color--cafe-tierra: #8b5e34;

  /*grises*/
  --color--gris-medio: #a0a0a0;
  --color--gris-oscuro: #5a5a5a;
  --color--blanco-hueso: #f4f4f1;

  --color--verde-hoover: #4fe721;
  --color--cafe-hoover: #4e342e;
  --color--gris-borde: #c5c5c5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  background-image: url("../media/Background.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.imagen-fondo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url("../media/imagen_prueba.jpg");
  background-size: 110%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  min-height: 70vh;
  font-size: 6vh;
  padding: 3vh 6vw;
  color: var(--color-gris-claro);
  position: relative;
  overflow: hidden;
  animation: moverFondo 25s ease-in-out infinite alternate;
}

@keyframes moverFondo {
  0% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 75% 25%;
  }
  100% {
    background-position: 25% 75%;
  }
}
.main-boton {
  margin-top: 5vh;
  height: 8vh;
  font-size: 4vh;
  padding: 4vh;
  background: transparent;
  cursor: pointer;
  display: flex;
  justify-items: center;
  align-items: center;
  transition: 0.4s ease-in;
  color: var(--color--blanco-hueso);
  border-radius: 20px;
}

.main-boton:hover {
  transform: translateX(2vw);
  color: var(--color--gris-borde);
}

.main-card-categorias {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: justify;
  gap: 3vh;
  margin-bottom: 8vh;
  margin: 5vh;
}

.main-card {
  background-color: var(--color--verde-claro);
  max-width: 25vw;
  padding: 3vh;
  border-style: solid;
  border-width: 0.5vh;
  border-color: var(--color--cafe-tierra);
  border-radius: 1vh;
  flex: 1 1 30vw;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  transition: 0.4s ease-in;
}

.main-card h4 {
  text-align: center;
  font-size: 2.5vh;
  padding-bottom: 3vh;
}

.main-card:hover,
.section-certificacion:hover {
  border-color: var(--color--cafe-hoover);
  background-color: var(--color--verde-medio);
  transform: translateY(-1vh);
  box-shadow: 0 1vh 2vh var(--color--gris-oscuro);
}

.main-card p {
  flex-grow: 1;
}
.section-certificacion {
  display: flex;
  gap: 4vw;
  margin: 5vh;
  padding: 4vh;
  border: 0.6vh solid var(--color--cafe-tierra);
  border-radius: 2vh;
  background-color: var(--color--verde-medio);
  transition: 0.4s ease-in;
}

.card-certificacion {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  padding: 3vh 2vw;
  border-radius: 2vh;
  background-color: var(--color--verde-claro);
  text-align: justify;
  transition: 0.4s ease-in;
}

.card-certificacion:hover {
  border-color: var(--color--cafe-hoover);
  transform: translateX(-0.8vw);
  box-shadow: 0 1vh 2vh var(--color--gris-oscuro);
}

.certificacion-img img {
  width: 20vw;
  height: 22vh;
  object-fit: cover;
  border-radius: 1.5vh;
  border: 0.5vh solid var(--color-verde);
  text-align: center;
}

.card-certificacion p {
  font-size: 2.2vh;
  line-height: 3vh;
}

.comentarios {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2vw;
  padding: 3vh 1.5vw;
  width: 100%;
  background-color: var(--color-verde-oscuro);
  text-align: center;
}

.comentarios h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 3vh;
  font-size: 3vh;
  color: var(--color--blanco-hueso);
}

.comentarios-card {
  background-color: var(--color--blanco-hueso);
  border: 0.3vh solid var(--color--cafe-tierra);
  border-radius: 2vh;
  padding: 4vh 2vw;
  flex-basis: 30vw;
  flex-grow: 1;
  max-width: 35vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.4s ease-in;
}

.comentarios-card:hover {
  transform: translateY(-1vh);
  box-shadow: 0 1vh 2vh var(--color--gris-oscuro);
  background-color: var(--color-gris-claro);
}

.comentarios-img {
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  object-fit: cover;
  border: 0.4vh solid var(--color--verde-hoover);
  margin-bottom: 2vh;
}

.comentarios-card h3 {
  font-size: 2.5vh;
  margin-bottom: 1.5vh;
  color: var(--color-azul-oscuro);
}

.comentarios-card p {
  font-style: italic;
  color: var(--color-negro);
  line-height: 3vh;
  font-size: 2vh;
  flex-grow: 1;
}

/*Animación*/

/* 2. EL ESCENARIO FIJO */
#fixed-stage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  /* Esto asegura que si algo falla, el fondo sea blanco */
  background-color: white;

  /* --- MÁSCARA --- */
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  /* Tamaño inicial */
  -webkit-mask-size: 600px;
  mask-size: 600px;

  will-change: mask-size, transform;
}

.masked {
  -webkit-mask-image: url("../media/maskImg.png");
  mask-image: url("../media/maskImg.png");
}

/* 3. NUEVA CAPA: EL FONDO BLANCO SÓLIDO */
/* Esta capa sirve para que las letras se vean blancas cuando el contenido es transparente */
#white-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 0; /* Detrás del contenido */
}

/* 4. CONTENIDO INTERNO (EL RELLENO) */
#content-inner {
  position: relative;
  width: 100%;
  z-index: 1; /* Encima del fondo blanco */
  /* Inicialmente opacidad 0, JS la controlará */
  opacity: 0;
}
