@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Kablammo&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

p,
label {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

main {
  flex: 1;
}

:root {
  /*paleta básica*/
  --color-rojo: #e8332f;
  --color-celeste: #44c2dd;
  --color-amarillo: #d9c93b;
  --color-verde-agua: #1d8e7a;
  --color-verde: #7ab24e;

  --color-azul-suave: #56a4af;
  --color-azul-oscuro: #403786;
  --color-gris-claro: #dadada;
  --color-verde-oscuro: #4c5f41;
  --color-negro: #111110;

  /*verdes*/
  --color--verde-claro: #9fdc7a;
  --color--verde-medio: #6fae5c;
  --color--verde-bosque: #2f5d34;
  --color--verde-musgo: #597a4a;
  --color--verde-menta: #90d8c2;
  --color--verde-lima: #c7e86a;

  /*azules*/
  --color--azul-cielo: #7dd5ef;
  --color--azul-profundo: #2b2f5b;
  --color--azul-turquesa: #2fb8b0;
  --color--azul-gris: #8aa9b1;

  /*amarillos*/
  --color--amarillo-suave: #f3e57c;
  --color--amarillo-ocre: #d3a724;
  --color--naranja-suave: #e8a16a;

  /*cafés*/
  --color--cafe-madera: #6a4a2b;
  --color--cafe-claro: #d7b89c;
  --color--cafe-arena: #c9a27d;
  --color--cafe-tierra: #8b5e34;

  /*grises*/
  --color--gris-medio: #a0a0a0;
  --color--gris-oscuro: #5a5a5a;
  --color--blanco-hueso: #f4f4f1;

  --color--verde-hoover: #4fe721;
  --color--cafe-hoover: #4e342e;
  --color--gris-borde: #c5c5c5;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Segoe UI', system-ui, sans-serif;
  background-color: #f4f7f6;
}

.header {
  background-color: var(--color-verde);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  box-shadow: 0vh 0vh 0vh var(--color-verde-oscuro);

  font-family: "Kablammo", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "MORF" 0;
}

.header-derecha {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-right: 15px;
}

.logo-img {
  height: 13vh;
}

.logo-img:hover {
  transform: scale(1.15);
  transition: transform 0.4s ease;
}

.header-link {
  color: var(--color--blanco-hueso);
  text-decoration: none;
  font-size: 2.2vh;
  font-weight: bold;
  transition: color 0.4s ease;
  text-shadow: 0 0.3vh 0.5vh rgba(0, 0, 0, 0.35);
  transition: 0.3s ease;
}

.header-link:hover {
  color: var(--color--verde-lima);
  text-shadow: 0 0.3vh 0.5vh rgba(0, 0, 0, 0.55);
  transform: scale(1.1);
}

.submenu-container {
  position: relative;
}

.header-submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: var(--color-verde-oscuro);
  list-style: none;
  min-width: 18vh;
  border-radius: 0.5vh;
  overflow: hidden;
  box-shadow: 0 0.6vh 1.2vh rgba(0, 0, 0, 0.3);
  z-index: 999;
}

/*botones de login*/
#logInbtn,
#logOutbtn,
#regbtn {
  height: 5.5vh;
  width: auto;
  background: var(--color--verde-claro);
  border-color: var(--color--verde-bosque);
  padding: 1.2vh 2vh;
  border-radius: 2vh;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

#logInbtn:hover,
#logOutbtn:hover,
#regbtn:hover {
  background: var(--color--verde-lima);
  box-shadow: 0 0.4vh 1vh rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

/*Login */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
}

.modal-content {
  background: var(--color--verde-medio);
  border: 0.3vh solid var(--color--verde-bosque);
  padding: 4vh;
  border-radius: 2vh;
  width: 90%;
  max-width: 400px;
  margin: 5vh auto;
  max-height: 90vh;
  overflow-y: auto;
  transition: 0.4s ease;
}

.modal-content:hover {
  border-color: var(--color-verde-oscuro);
  box-shadow: 0 0 1vh var(--color--verde-hoover);
  transform: scale(1.1);
}

#formLogin {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  width: 100%;
}

#formLogin .inputLogin,
#formLogin .inputPassword {
  background: var(--color--blanco-hueso);
  border: 0.2vh solid var(--color--gris-borde);
  border-radius: 1vh;
  padding: 1.5vh;
  font-size: 2vh;
  outline: none;
  transition: all 0.3s ease;
}

#formLogin .inputCaptcha {
  background: var(--color--blanco-hueso);
  border: 0.2vh solid var(--color--gris-borde);
  border-radius: 1vh;
  padding: 1.5vh;
  font-size: 2vh;
  outline: none;
  transition: all 0.3s ease;
}

#formLogin input::placeholder {
  color: var(--color--gris-oscuro);
}

#formLogin input:focus {
  border-color: var(--color--verde-medio);
  box-shadow: 0.3vh solid var(--color--verde-bosque);
}

#formLogin button,
#formRegister button {
  background: var(--color--blanco-hueso);
  border: none;
  padding: 1.5vh;
  border-radius: 2vh;
  font-size: 2vh;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

#formLogin button:hover,
#formRegister button:hover {
  background: var(--color--verde-lima);
  box-shadow: 0 0 4vh 1vh rgba(0, 0, 0, 0.15);
  transform: scale(1.05);
}

.close {
  float: right;
  font-size: 3vh;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s ease;
}

.close:hover {
  color: var(--color-rojo);
  transform: scale(1.2);
}

/*Registrarse*/
#formRegister {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  width: 100%;
}

#formRegister .inputRegUser,
#formRegister .inputRegEmail,
#formRegister .inputRegPass {
  background: var(--color--blanco-hueso);
  border: 0.2vh solid var(--color--gris-borde);
  border-radius: 1vh;
  padding: 1.5vh;
  font-size: 2vh;
  outline: none;
  transition: all 0.3s ease;
}

/*footer*/
.footer {
  background: var(--color-verde);
  text-align: center;
  padding: 1.5vh 0;
  color: var(--color--blanco-hueso);
  box-shadow: 0 -0.4vh 1vh rgba(0, 0, 0, 0.15);
}

.footer-titulo {
  font-size: 1.9vh;
  margin: 1.5vh 0;
  font-weight: bold;
}

.footer-contacto {
  background: var(--color--verde-claro);
  margin: 1.8vh 0;
  padding: 0.8vh 2.2vh;
  border-radius: 0.8vh;
  border-color: var(--color--verde-bosque);
  font-size: 1.8vh;
  font-weight: bold;
  transition: 0.3s ease;
  cursor: pointer;
}

.footer-contacto:hover {
  background: var(--color--verde-lima);
  box-shadow: 0 0.4vh 1vh rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.footer-icon {
  font-size: 3.2vh;
  color: var(--color--blanco-hueso);
  transition: transform 0.4s ease-in-out, color 0.4s ease;
}

.footer-icon:hover {
  transform: scale(1.15);
  background: linear-gradient(
    45deg,
    var(--color-amarillo),
    var(--color-rojo),
    var(--color-azul-oscuro)
  );

  background-clip: text;
  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;
  color: transparent;
}

.footer-copyright {
  margin-top: 1.5vh;
  font-size: 1.6vh;
  opacity: 0.8;
}

/*Responsive*/
@media (max-width: 900px) {
  .header {
    flex-wrap: wrap;
    justify-content: center;
    padding: 2vh 0;
    text-align: center;
  }

  .logo-img {
    height: 10vh;
  }

  .header-derecha {
    margin-right: 0;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .header-link {
    font-size: 2vh;
  }

  #logInbtn,
  #logOutbtn,
  #regbtn {
    height: 5vh;
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .header {
    flex-direction: column;
    gap: 2vh;
    padding-bottom: 2vh;
  }

  .logo-img {
    height: 9vh;
  }

  .header-derecha {
    flex-direction: column;
    gap: 1.2vh;
  }

  .header-link {
    font-size: 1.8vh;
  }

  #logInbtn,
  #logOutbtn,
  #regbtn {
    width: 70%;
    font-size: 14px;
  }

  .submenu-container {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 900px) {
  .footer {
    padding: 2vh;
  }

  .footer-titulo {
    font-size: 1.8vh;
  }

  .footer-contacto {
    font-size: 1.7vh;
    padding: 1vh 2vh;
  }

  .footer-icon {
    font-size: 3vh;
  }

  .footer-copyright {
    font-size: 1.5vh;
  }
}

@media (max-width: 600px) {
  .footer {
    padding: 3vh 1vw;
  }

  .footer-titulo {
    font-size: 2vh;
    margin-bottom: 1vh;
  }

  .footer-contacto {
    width: 80%;
    font-size: 1.9vh;
    padding: 1vh 0;
  }

  .footer-icon {
    font-size: 3.5vh;
    margin: 0 1vh;
  }

  .footer-contacto:hover,
  .footer-icon:hover {
    transform: scale(1.08);
  }

  .footer-copyright {
    font-size: 1.8vh;
  }
}

/*Animación mouse*/

.huella-animada {
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  font-size: 24px;
  color: var(--color--cafe-tierra);
  opacity: 0;
  transform: translate(-50%, -50%);
  animation: huellita 1.5s linear forwards;
}

@keyframes huellita {
  0% {
    opacity: 0.8;
    transform: scale(0.5) rotate(var(--rotacion));
  }
  20% {
    opacity: 1;
    transform: scale(1.1) rotate(var(--rotacion));
  }
  100% {
    opacity: 0;
    transform: scale(1) translateY(-20px) rotate(var(--rotacion));
  }
}

/* --- ANIMACIONES DE SCROLL (SCROLL REVEAL) --- */

/* Estado inicial oculto */
.hidden {
  opacity: 0;
  filter: blur(5px); /* Un desenfoque inicial se ve muy elegante */
  transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94); /* Transición suave */
}

/* Animación: Aparecer desde abajo */
.hidden.fade-up {
  transform: translateY(50px);
}

/* Animación: Aparecer desde la izquierda */
.hidden.fade-left {
  transform: translateX(-50px);
}

/* Animación: Aparecer desde la derecha */
.hidden.fade-right {
  transform: translateX(50px);
}

/* CLASE QUE ACTIVA LA ANIMACIÓN (JS la agrega) */
.show {
  opacity: 1;
  filter: blur(0);
  transform: translate(0) !important; /* Regresa a su posición original */
}

/* --- Delay escalonado para tarjetas (Staggering) --- */
/* Esto hace que si hay 3 tarjetas, aparezcan una tras otra */
.main-card:nth-child(2) {
  transition-delay: 0.2s;
}
.main-card:nth-child(3) {
  transition-delay: 0.4s;
}

.card-certificacion:nth-child(even) {
  transition-delay: 0.2s;
}

.comentarios-card:nth-child(2) {
  transition-delay: 0.2s;
}
.comentarios-card:nth-child(3) {
  transition-delay: 0.4s;
}
