:root {
  /* Tus colores originales */
  --color-rojo: #e8332f;
  --color-celeste: #44c2dd;
  --color-amarillo: #d9c93b;
  --color-verde-agua: #1d8e7a;
  --color-verde: #7ab24e;
  --color-azul-suave: #56a4af;
  --color-azul-oscuro: #403786;
  --color-gris-claro: #dadada;
  --color-verde-oscuro: #4c5f41;
  --color-negro: #111110;
  --color--verde-claro: #9fdc7a;
  --color--verde-medio: #6fae5c;
  --color--verde-bosque: #2f5d34;
  --color--verde-musgo: #597a4a;
  --color--verde-menta: #90d8c2;
  --color--verde-lima: #c7e86a;
  --color--blanco-hueso: #f4f4f1;
  --color--cafe-tierra: #8b5e34;
  --color--cafe-madera: #6a4a2b;
  --color--cafe-claro: #d7b89c;
  --color--gris-medio: #a0a0a0;
  --color--gris-oscuro: #5a5a5a;
  --color--verde-hoover: #4fe721;
  --color--cafe-hoover: #4e342e;
  --color--gris-borde: #c5c5c5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  background-image: url("../media/Background.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* --- ESTILOS ESPECÍFICOS DE LA PÁGINA DE INICIO --- */

/* Hero Banner */
.imagen-fondo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url("../media/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  min-height: 70vh;
  font-size: 6vh;
  padding: 3vh 6vw;
  color: var(--color-gris-claro);
  position: relative;
  overflow: hidden;
  animation: moverFondo 25s ease-in-out infinite alternate;
}
@keyframes moverFondo {
  0% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 75% 25%;
  }
  100% {
    background-position: 25% 75%;
  }
}
.main-boton {
  margin-top: 5vh;
  height: 8vh;
  font-size: 4vh;
  padding: 4vh;
  background: transparent;
  cursor: pointer;
  display: flex;
  justify-items: center;
  align-items: center;
  transition: 0.4s ease-in;
  color: var(--color--blanco-hueso);
  border-radius: 20px;
  border: 2px solid var(--color--blanco-hueso);
}
.main-boton:hover {
  transform: translateX(2vw);
  color: var(--color--verde-lima);
  border-color: var(--color--verde-lima);
}
.main-titulo {
  color: var(--color--blanco-hueso);
  text-shadow: 2px 2px 4px var(--color-negro);
}
.main-descripcion {
  color: var(--color--blanco-hueso);
}

/* Sección Apuntes */
.datos-seccion {
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/002/173/386/small/wood-texture-background-free-vector.jpg");
  background-color: var(--color--cafe-tierra);
  padding: 8vh 5vw;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 10px solid var(--color--cafe-madera);
  border-bottom: 10px solid var(--color--cafe-madera);
}
.datos-titulo {
  color: var(--color--verde-lima);
  margin-bottom: 5vh;
  font-size: 4vh;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
.datos-container {
  display: flex;
  justify-content: center;
  gap: 4vw;
  flex-wrap: wrap;
  margin-top: 30px;
}
.field-note {
  width: 280px;
  padding: 25px;
  font-family: "Comic Sans MS", cursive;
  color: var(--color--gris-oscuro);
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.3);
  position: relative;
  transition: transform 0.3s;
  font-size: 1.1rem;
  line-height: 1.4;
}
.field-note:hover {
  transform: scale(1.1) rotate(0deg) !important;
  z-index: 10;
}
.field-note h4 {
  font-size: 1.4rem;
  margin-bottom: 10px;
  border-bottom: 2px dashed var(--color--gris-medio);
  padding-bottom: 5px;
  color: var(--color--cafe-tierra);
}
.note-yellow {
  background: var(--color-amarillo);
  transform: rotate(-3deg);
}
.note-green {
  background: var(--color--verde-claro);
  transform: rotate(2deg);
  margin-top: 20px;
}
.note-blue {
  background: var(--color-celeste);
  transform: rotate(-2deg);
}
.pin {
  width: 15px;
  height: 15px;
  background: radial-gradient(circle at 5px 5px, var(--color-rojo), darkred);
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.tape {
  width: 80px;
  height: 25px;
  background: rgba(255, 255, 255, 0.4);
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translateX(-50%) rotate(-2deg);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* Sección Categorías */
.main-card-categorias {
  padding: 80px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  border-bottom: 10px solid var(--color--cafe-madera);
}
.polaroid {
  background: var(--color--blanco-hueso);
  padding: 15px 15px 50px 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  transform: rotate(var(--rotation));
  transition: all 0.4s;
  width: 300px;
  cursor: pointer;
  position: relative;
}
.polaroid:nth-child(1) {
  --rotation: -3deg;
}
.polaroid:nth-child(2) {
  --rotation: 2deg;
}
.polaroid:nth-child(3) {
  --rotation: 4deg;
}
.polaroid:hover {
  transform: rotate(0deg) scale(1.1) translateY(-10px);
  z-index: 10;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.5);
}
.polaroid .photo {
  width: 100%;
  height: 250px;
  background: var(--color-negro);
  overflow: hidden;
  border: 1px solid var(--color-gris-claro);
}
.polaroid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s;
  filter: sepia(20%);
}
.polaroid:hover img {
  transform: scale(1.15);
  filter: sepia(0%);
}
.polaroid .caption {
  text-align: center;
  margin-top: 20px;
  font-family: "Comic Sans MS", cursive;
  color: var(--color--gris-oscuro);
}
.polaroid .caption h4 {
  font-size: 1.6rem;
  margin-bottom: 5px;
  color: var(--color-negro);
}

/* Sección Destacado */
.section-destacado {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(
    135deg,
    var(--color--blanco-hueso) 0%,
    var(--color-gris-claro) 100%
  );
  padding: 10vh 10vw;
  margin: 10vh 5vw;
  border-radius: 30px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
  position: relative;
  border-bottom: 5px solid var(--color--verde-medio);
}
.destacado-contenido {
  flex: 1;
  z-index: 2;
  padding-right: 20px;
}
.destacado-titulo {
  font-size: 6vh;
  color: var(--color--verde-bosque);
  margin-bottom: 1vh;
  line-height: 1;
}
.destacado-subtitulo {
  color: var(--color--cafe-tierra);
  margin-bottom: 4vh;
  font-size: 3vh;
  background: var(--color-amarillo);
  display: inline-block;
  padding: 5px 15px;
  transform: rotate(-2deg);
  border-radius: 10px;
}
.destacado-imagen-wrapper {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circulo-deco {
  position: absolute;
  width: 35vw;
  height: 35vw;
  max-width: 400px;
  max-height: 400px;
  background-color: var(--color--verde-menta);
  border-radius: 50%;
  z-index: 1;
  opacity: 0.6;
  transition: transform 0.5s ease;
}
.destacado-img {
  width: 130%;
  max-width: 550px;
  z-index: 2;
  transition: transform 0.5s;
  filter: drop-shadow(0 20px 20px rgba(0, 0, 0, 0.3));
  margin-top: -60px;
  margin-bottom: -40px;
  margin-right: -40px;
}
.section-destacado:hover .destacado-img {
  transform: scale(1.1) rotate(5deg);
}
.section-destacado:hover .circulo-deco {
  transform: scale(1.1);
}
.boton-secundario {
  background-color: var(--color--verde-bosque);
  color: var(--color--blanco-hueso);
  padding: 1.5vh 3vw;
  border: none;
  border-radius: 20px;
  font-size: 2vh;
  cursor: pointer;
  margin-top: 2vh;
  transition: 0.3s;
  font-weight: bold;
}
.boton-secundario:hover {
  background-color: var(--color-verde);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
}

/* Sección Certificación */
.section-certificacion {
  display: flex;
  justify-content: center;
  gap: 6vw;
  margin: 8vh 5vw;
  padding: 6vh;
  background-color: var(--color--blanco-hueso);
  border: 3px dashed var(--color--cafe-claro);
  border-radius: 20px;
  position: relative;
  box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.05);
}
.section-certificacion::before {
  content: "DOCUMENTACIÓN LEGAL";
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--color--cafe-tierra);
  color: var(--color--blanco-hueso);
  padding: 5px 20px;
  font-weight: bold;
  font-size: 0.9rem;
  border-radius: 20px;
}
.card-certificacion {
  flex: 1;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  text-align: center;
  opacity: 0.85;
  transition: 0.3s;
}
.card-certificacion:hover {
  transform: scale(1.05) rotate(2deg);
  opacity: 1;
}
.certificacion-img img {
  width: 140px;
  height: 140px;
  object-fit: contain;
  filter: sepia(100%) hue-rotate(-50deg) saturate(300%) contrast(0.8);
  mix-blend-mode: multiply;
  border: 4px solid rgba(40, 50, 80, 0.3);
  border-radius: 50%;
  padding: 15px;
  transform: rotate(-10deg);
}
.card-certificacion p {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  color: var(--color--gris-oscuro);
  text-transform: uppercase;
  font-size: 1.5vw;
}

/* Sección Suscripción */
.suscripcion-section {
  background: linear-gradient(rgba(47, 93, 52, 0.9), rgba(30, 60, 30, 0.95)),
    url("https://www.transparenttextures.com/patterns/wood-pattern.png");
  background-color: var(--color--verde-bosque);
  margin: 10vh 5vw;
  padding: 8vh 4vw;
  border-radius: 20px;
  border: 3px dashed var(--color--verde-lima);
  outline: 8px solid var(--color--verde-bosque);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
  text-align: center;
  color: var(--color--blanco-hueso);
}
.suscripcion-content h2 {
  font-size: 5vh;
  color: var(--color--verde-lima);
  margin-bottom: 2vh;
  text-shadow: 2px 2px 0 var(--color-negro);
}
.suscripcion-content p {
  font-size: 2.2vh;
  margin-bottom: 4vh;
  color: var(--color--blanco-hueso);
}
.suscripcion-form {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}
.suscripcion-form input {
  padding: 1.5vh 2vw;
  border-radius: 12px;
  border: 3px solid var(--color--cafe-tierra);
  width: 350px;
  font-size: 2vh;
  outline: none;
  background-color: var(--color--blanco-hueso);
  color: var(--color-negro);
}
.suscripcion-form input:focus {
  border-color: var(--color--verde-lima);
  box-shadow: 0 0 15px var(--color--verde-lima);
}
.suscripcion-form button {
  padding: 1.5vh 3vw;
  border-radius: 12px;
  border: none;
  background-color: var(--color-amarillo);
  color: var(--color--cafe-hoover);
  font-weight: 800;
  cursor: pointer;
  font-size: 2vh;
  box-shadow: 0 5px 0 var(--color--cafe-madera);
  text-transform: uppercase;
}
.suscripcion-form button:hover {
  background-color: var(--color-amarillo);
  transform: translateY(-2px);
  box-shadow: 0 7px 0 var(--color--cafe-madera);
}
.suscripcion-form button:active {
  transform: translateY(4px);
  box-shadow: 0 0 0 var(--color--cafe-madera);
}

/* Sección Comentarios */
.comentarios {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2vw;
  padding: 3vh 1.5vw;
  width: 100%;
  background-color: var(--color-verde-oscuro);
  text-align: center;
}
.comentarios h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 3vh;
  font-size: 3vh;
  color: var(--color--blanco-hueso);
}
.comentarios-card {
  background-color: var(--color--blanco-hueso);
  border: 0.3vh solid var(--color--cafe-tierra);
  border-radius: 2vh;
  padding: 4vh 2vw;
  flex-basis: 30vw;
  max-width: 35vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.4s ease-in;
}
.comentarios-card:hover {
  transform: translateY(-1vh);
  box-shadow: 0 1vh 2vh var(--color--gris-oscuro);
  background-color: var(--color-gris-claro);
}
.comentarios-img {
  border-radius: 50%;
  object-fit: cover;
  border: 0.4vh solid var(--color--verde-hoover);
  margin-bottom: 2vh;
}
.comentarios img {
  height: 10;
  width: 10vw;
  transition: 0.4s ease-in;
}
.comentarios img:hover {
  filter: invert();
  transform: translateY(-1vh);
}
.comentarios-card h3 {
  font-size: 2.5vh;
  margin-bottom: 1.5vh;
  color: var(--color-azul-oscuro);
}
.comentarios-card p {
  font-style: italic;
  color: var(--color-negro);
  line-height: 3vh;
  font-size: 2vh;
}

/* Mask Logic */
#fixed-stage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: var(--color--blanco-hueso);
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 600px;
  mask-size: 600px;
  will-change: mask-size, transform;
}
.masked {
  -webkit-mask-image: url("../media/maskImg.png");
  mask-image: url("../media/maskImg.png");
}
#white-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color--blanco-hueso);
  z-index: 0;
}
#content-inner {
  position: relative;
  width: 100%;
  z-index: 1;
  opacity: 0;
}

@media (max-width: 900px) {
  .section-destacado {
    flex-direction: column;
    text-align: center;
  }
  .destacado-img {
    margin: 0;
    width: 100%;
  }
  .section-certificacion {
    flex-direction: column;
    align-items: center;
    gap: 3vh;
  }
}
