:root {
  /*paleta básica*/
  --color-rojo: #e8332f;
  --color-celeste: #44c2dd;
  --color-amarillo: #d9c93b;
  --color-verde-agua: #1d8e7a;
  --color-verde: #7ab24e;

  --color-azul-suave: #56a4af;
  --color-azul-oscuro: #403786;
  --color-gris-claro: #dadada;
  --color-verde-oscuro: #4c5f41;
  --color-negro: #111110;

  /*verdes*/
  --color--verde-claro: #9fdc7a;
  --color--verde-medio: #6fae5c;
  --color--verde-bosque: #2f5d34;
  --color--verde-musgo: #597a4a;
  --color--verde-menta: #90d8c2;
  --color--verde-lima: #c7e86a;

  /*azules*/
  --color--azul-cielo: #7dd5ef;
  --color--azul-profundo: #2b2f5b;
  --color--azul-turquesa: #2fb8b0;
  --color--azul-gris: #8aa9b1;

  /*amarillos*/
  --color--amarillo-suave: #f3e57c;
  --color--amarillo-ocre: #d3a724;
  --color--naranja-suave: #e8a16a;

  /*cafés*/
  --color--cafe-madera: #6a4a2b;
  --color--cafe-claro: #d7b89c;
  --color--cafe-arena: #c9a27d;
  --color--cafe-tierra: #8b5e34;

  /*grises*/
  --color--gris-medio: #a0a0a0;
  --color--gris-oscuro: #5a5a5a;
  --color--blanco-hueso: #f4f4f1;

  --color--verde-hoover: #4fe721;
  --color--cafe-hoover: #4e342e;
  --color--gris-borde: #c5c5c5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.imagen-fondo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url("../media/imagen_prueba.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  min-height: 70vh;
  font-size: 6vh;
  padding: 3vh 6vw;
  color: var(--color-gris-claro);
}

.main-card-categorias {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: justify;
  gap: 3vh;
  margin: 3vh;
}

.main-card {
  background-color: var(--color-verde);
  padding: 3vh;
  border-style: solid;
  border-width: 0.5vh;
  border-color: var(--color-verde-oscuro);
  border-radius: 1vh;
  flex: 1 1 30vw;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.main-card p {
  flex-grow: 1;
}
.section-certificacion {
  display: flex;
  gap: 4vw;
  margin: 5vh;
  padding: 4vh;

  border: 0.6vh solid var(--color-verde-oscuro);
  border-radius: 2vh;

  background-color: var(--color-verde);
}

.card-certificacion {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  padding: 3vh 2vw;
  border: 0.5vh solid var(--color-verde-oscuro);
  border-radius: 2vh;
  background-color: var(--color-gris-claro);
  text-align: justify;
}

.certificacion-img img {
  width: 20vw;
  height: 22vh;
  object-fit: cover;
  border-radius: 1.5vh;
  border: 0.5vh solid var(--color-verde);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-certificacion p {
  font-size: 2.2vh;
  line-height: 3vh;
}

.comentarios {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2vw;
  padding: 3vh 1.5vw;
  width: 100%;
  background-color: var(--color-verde-oscuro);
  text-align: center;
}

.comentarios h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 3vh;
  font-size: 3vh;
  color: var(--color-gris-claro);
}

.comentarios-card {
  background-color: var(--color-gris-claro);
  border: 0.3vh solid var(--color-verde);
  border-radius: 2vh;
  padding: 4vh 2vw;
  flex-basis: 30vw;
  flex-grow: 1;
  max-width: 35vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comentarios-img {
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  object-fit: cover;
  border: 0.4vh solid var(--color-verde);
  margin-bottom: 2vh;
}

.comentarios-card h3 {
  font-size: 2.5vh;
  margin-bottom: 1.5vh;
  color: var(--color-azul-oscuro);
}

.comentarios-card p {
  font-style: italic;
  color: var(--color-negro);
  line-height: 3vh;
  font-size: 2vh;
  flex-grow: 1;
}
