/* ==== PANEL ADMIN: CONTENEDOR GENERAL ==== */
.admin-container {
  display: flex;
  min-height: 80vh;
}

/* ==== SIDEBAR ==== */
.admin-sidebar {
  width: 250px;
  background: var(--color--verde-musgo);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);
}

.sidebar-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--color--blanco-hueso);
}

.sidebar-menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sidebar-link {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: var(--color--blanco-hueso);
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 12px;
  border-radius: 8px;
  transition: 0.3s ease;
}

.sidebar-link:hover {
  background: var(--color--verde-lima);
  color: black;
  transform: scale(1.05);
}

/* ==== CONTENIDO PRINCIPAL ==== */
.admin-content {
  flex: 1;
  padding: 40px;
}

.admin-welcome {
  font-size: 32px;
  margin-bottom: 10px;
  color: var(--color--azul-profundo);
}

.admin-text {
  font-size: 20px;
  opacity: 0.8;
}

.header-admin-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 5vh;
  overflow-y: auto;
  height: 100%;
}

.card {
  background-color: wheat;
  width: 90%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 0px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  transition: all 400ms;
}

.card:hover {
  border-radius: 20px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);
}

.card button {
  border: none;
  width: 40%;
  height: 3vw;
}

.card button:hover {
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2000;
  
  display: none; 
  justify-content: center; 
  align-items: center;    
}

.admin-modal-card {
  background-color: wheat;
  padding: 20px;
  border-radius: 10px;
  width: 50%; 
  position: relative;
  
  animation: seleccion-card 0.5s ease-out forwards;
}

@keyframes seleccion-card {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}