:root {
  /*paleta básica*/
  --color-rojo: #e8332f;
  --color-celeste: #44c2dd;
  --color-amarillo: #d9c93b;
  --color-verde-agua: #1d8e7a;
  --color-verde: #7ab24e;

  --color-azul-suave: #56a4af;
  --color-azul-oscuro: #403786;
  --color-gris-claro: #dadada;
  --color-verde-oscuro: #4c5f41;
  --color-negro: #111110;

  /*verdes*/
  --color--verde-claro: #9fdc7a;
  --color--verde-medio: #6fae5c;
  --color--verde-bosque: #2f5d34;
  --color--verde-musgo: #597a4a;
  --color--verde-menta: #90d8c2;
  --color--verde-lima: #c7e86a;

  /*azules*/
  --color--azul-cielo: #7dd5ef;
  --color--azul-profundo: #2b2f5b;
  --color--azul-turquesa: #2fb8b0;
  --color--azul-gris: #8aa9b1;

  /*amarillos*/
  --color--amarillo-suave: #f3e57c;
  --color--amarillo-ocre: #d3a724;
  --color--naranja-suave: #e8a16a;

  /*cafés*/
  --color--cafe-madera: #6a4a2b;
  --color--cafe-claro: #d7b89c;
  --color--cafe-arena: #c9a27d;
  --color--cafe-tierra: #8b5e34;

  /*grises*/
  --color--gris-medio: #a0a0a0;
  --color--gris-oscuro: #5a5a5a;
  --color--blanco-hueso: #f4f4f1;

  --color--verde-hoover: #4fe721;
  --color--cafe-hoover: #4e342e;
  --color--gris-borde: #c5c5c5;
}

main {
  width: 100%;
  margin: 0;
  padding: 1.25vh;
  flex: 1;
}

body {
  background: var(--color-gris-claro);
  display: flex;
  flex-direction: column;
  height: 100%;
}

html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.container-pregunta {
  background-color: var(--color--verde-claro);
  padding: 1.25vh;
  margin: 1.25vh 0vh;
  border-radius: 15px;
  box-shadow: 0vh 0.25vh 0.75vh var(--color--gris-borde);
  transition: transform 0.4 ease, box-shadow 0.4s ease;
  border-left: 0.4vh solid;
  border-color: var(--color-verde-oscuro);
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  max-width: 100%;
  min-width: 0;
}

.container-pregunta:hover {
  background-color: var(--color--verde-lima);
  border-color: var(--color--verde-bosque);
  transform: translateY(-0.25vh);
  box-shadow: 0vh 0.4vh 1vh var(--color--gris-medio);
}

.btn-pregunta {
  width: 100%;
  text-align: left;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.titulo-pregunta {
  font-size: 1.4vh;
  margin: 0;
  white-space: normal;
  word-wrap: break-word;
}

.respuesta-pregunta {
  margin-top: 0.8vh;
  font-size: 1.4vh;
  line-height: 1.4;
  color: var(--color--gris-oscuro);
  white-space: normal;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  width: 100%;
  min-width: 0;
  display: none;
}

.container-pregunta.activa .respuesta-pregunta {
  display: block;
}

.container-pregunta .respuesta-pregunta {
  animation: fadeIn 0.3s ease;
}

/*Animación*/
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(0.5vh);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
